@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mooli&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    background-image: url(bg.jfif);
}

.carousel-inner {
    width: 1050px;
    height: 550px;
    margin: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 15px;
    color: white;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}